@import 'https://fonts.googleapis.com/css?family=Roboto+Slab:400,700';

$color-header:#F5F5F5;
/* ESTILOS BOOTSTRAP*/

.navbar-inverse{
	background: transparent;
	border-style:none;
}

.navbar-nav{
	text-align: center;
}

.navbar-inverse .navbar-nav{
	text-transform: uppercase;
}

.navbar-inverse .navbar-nav>li>a:hover {
    color:black;
    font-weight: 700;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: black;
    background-color: transparent;
}

/* ESTILOS PROPIOS*/
$fuente-titulos:"Roboto slab";


.titulos{
	h2{
		text-transform: uppercase;
		font-family: $fuente-titulos;
	}
}

header{
	text-align: center;;
	background:$color-header ;

}

.nosotros{
	@extend .titulos;
	p{
		
	}
}

